.advantages {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.adv-item {
  max-width: 450px;
}

.adv-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  height: 120px;

  border-radius: 4px;
  background-color: #f5f4fa;
}
.adv-icon {
  width: 70px;
  height: 70px;
}
.adv-title {
  margin-bottom: 10px;

  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;

  text-align: center;
}
.adv-descript {
  line-height: 1.71;
  color: $sec-text-color;
}

@media screen and (min-width: $tablet) {
  .advantages {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .adv-item {
    max-width: calc((100% - 30px) / 2);
  }

  .adv-title {
    text-align: start;
  }
}

@media screen and (min-width: $desktop) {
  .advantages {
    flex-wrap: nowrap;
  }
  .adv-item {
    max-width: calc((100% - 90px) / 4);
  }
}
