.gallery {
  display: none;
}

@media screen and (min-width: $desktop) {
  .gallery {
    display: block;
    padding-top: 0;
  }
  .gallery-container {
    display: flex;
    justify-content: center;
    gap: 30px;
  }

  .gallery-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
  }

  .gallery-img {
    position: relative;
    width: 370px;
  }
  .gallery-img-title-container {
    position: absolute;
    bottom: 0;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 70px;
    background-color: #2f303acc;
  }

  .gallery-img-title {
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: $hero-text-color;
  }
}
