// Адаптивий оверлей героя
.hero-overlay {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/mobile/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero-overlay {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/mobile/hero@2x.jpg');
  }
}

@media screen and (min-width: $tablet) {
  .hero-overlay {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/tablet/hero.jpg');
  }
}
@media screen and (min-width: $tablet) and (min-device-pixel-ratio: 2),
  screen and (min-width: $tablet) and (min-resolution: 192dpi),
  screen and (min-width: $tablet) and (min-resolution: 2dppx) {
  .hero-overlay {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/tablet/hero@2x.jpg');
  }
}

@media screen and (min-width: $desktop) {
  .hero-overlay {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/desktop/hero.jpg');
  }
}
@media screen and (min-width: $desktop) and (min-device-pixel-ratio: 2),
  screen and (min-width: $desktop) and (min-resolution: 192dpi),
  screen and (min-width: $desktop) and (min-resolution: 2dppx) {
  .hero-overlay {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/desktop/hero@2x.jpg');
  }
}

// Розмітка героя
.hero-section {
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: $hero-bg-color;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-title {
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: $hero-text-color;
  letter-spacing: 0.06em;
}

.hero-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 10px 24px;
  border-radius: 4px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: $accent-color;
  color: $hero-text-color;
}

@media screen and (min-width: $desktop) {
  .hero-title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }

  .hero-btn {
    padding: 10px 32px;
  }
}
