// Кнопки фільтрів
.filter {
  display: flex;
  // justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
  gap: 8px;
}

.projects-btn {
  padding: 6px 22px;
  border-radius: 4px;
  border: none;

  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  background-color: $sec-bg-color;
  color: $prim-text-color;

  &:hover,
  &:focus,
  &:active {
    transition:
      background-color $cubic,
      box-shadow $cubic,
      color $cubic;
    box-shadow:
      0px 3px 1px rgba(0, 0, 0, 0.1),
      0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    background-color: $accent-color;
    color: $hero-text-color;
  }
}

.btn-active {
  box-shadow:
    0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: $accent-color;
  color: $hero-text-color;
}

// Проєкти
.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  // align-items: stretch;
}
.proj-item {
  // width: 370px;
  width: 450px;
  // flex-grow: 1;
}

.proj-link {
  display: block;
  transition: box-shadow $cubic;
  display: flex;
  flex-direction: column;
  height: 100%;

  &:hover,
  &:focus {
    box-shadow:
      0px 1px 1px rgba(0, 0, 0, 0.12),
      0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.proj-img-container {
  position: relative;
  overflow: hidden;
}
.proj-overlay {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 24px;
  background-color: rgba(33, 150, 243, 0.9);

  font-size: 18px;
  line-height: 1.55;
  color: $footer-main-text-color;

  transform: translateY(101%);
  transition: transform $cubic;

  .proj-link:hover & {
    transform: translateY(0);
  }
}

@media screen and (max-width: 370px) {
  .proj-overlay {
    font-size: 16px;
    line-height: 1.33;
  }
}

// .proj-description {
//   font-size: 18px;
//   line-height: 1.55;
//   color: $footer-main-text-color;
// }

.proj-descript-block {
  display: block;
  flex-grow: 1;

  // display: flex;
  // flex-direction: column;
  // align-items: stretch;
  // justify-content: space-between;

  padding: 20px 24px;

  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.proj-name {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $prim-text-color;
}
.proj-type {
  font-size: 16px;
  line-height: 1.87;
  color: $sec-text-color;
}

@media screen and (min-width: $tablet) {
  .filter {
    justify-content: center;
  }
  .projects {
    justify-content: start;
  }
  .proj-item {
    width: 354px;
  }
}

@media screen and (min-width: $desktop) {
  .proj-item {
    width: 370px;
  }
}
